<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.mapper.AccountSnapshotMapper">

    <resultMap type="com.platform.entity.AccountSnapshotDO" id="resultMap">
        <result property="id" column="id"/>
        <result property="total" column="total"/>
        <result property="totalDetail" column="total_detail"/>
        <result property="regTotal" column="reg_total"/>
        <result property="exTotal" column="ex_total"/>
        <result property="doneRegTotal" column="done_reg_total"/>
        <result property="buyTotal" column="buy_total"/>
        <result property="userReg" column="user_reg"/>
        <result property="taskTotal" column="task_total"/>
        <result property="extractTotal" column="extract_total"/>
        <result property="teamBack" column="team_back"/>
        <result property="snapDate" column="snap_date"/>
        <result property="createDate" column="create_date"/>
    </resultMap>
	 
	<insert id="save" parameterType="com.platform.entity.AccountSnapshotDO" useGeneratedKeys="true" keyProperty="id">
		insert into account_snapshot(
			`total`,
			`total_detail`,
			`reg_total`,
			`ex_total`,
			`done_reg_total`,
			`buy_total`,
			`user_reg`,
			`task_total`,
			`extract_total`,
			`team_back`,
			`snap_date`,
			`create_date`)
		values(
			#{total},
			#{totalDetail},
			#{regTotal},
			#{exTotal},
			#{doneRegTotal},
			#{buyTotal},
			#{userReg},
			#{taskTotal},
			#{extractTotal},
			#{teamBack},
			#{snapDate},
			now())
	</insert>

	


    <select id="selectTotalForTask" resultType="java.math.BigDecimal">
        SELECT sum(integral) from  income_coin_task
    </select>
</mapper>