<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.mapper.EnergySpcMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.platform.entity.EnergySpcDO" id="resultMap">
        <result property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="phone" column="phone"/>
        <result property="inviteUid" column="invite_uid"/>
        <result property="invitePhone" column="invite_phone"/>
        <result property="energyCoin" column="energy_coin"/>
        <result property="type" column="type"/>
        <result property="typeName" column="type_name"/>
        <result property="incomeType" column="income_type"/>
        <result property="createDate" column="create_date"/>
    </resultMap>

    <select id="selectEnergySpcList" resultType="com.platform.vo.EnergySpcVO">
		SELECT
			`id`,
			`uid`,
			`phone`,
			`energy_coin` AS coin,
			`invite_uid` AS inviteUid,
			`invite_phone` AS invitePhone,
			`type`,
			`type_name` AS typeStr,
			`image`,
			`create_date` AS createDate
		FROM
			energy_spc
		where uid = #{uid}
		and create_date between #{begin} and #{end}
		order by id desc
		limit #{start},#{size}
	</select>
    <select id="selectEnergySpcOutSum" resultType="java.math.BigDecimal">
		select IFNULL(sum(energy_coin), 0.0) from energy_spc
		where uid = #{uid}
		and income_type = 1
		and create_date between #{begin} and #{end}
	</select>
    <select id="selectEnergySpcInSum" resultType="java.math.BigDecimal">
		select IFNULL(sum(energy_coin), 0.0) from energy_spc
		where uid = #{uid}
		and income_type = 0
		and create_date between #{begin} and #{end}
	</select>

    <insert id="insert" parameterType="com.platform.entity.EnergySpcDO" useGeneratedKeys="true" keyProperty="id">
        insert into energy_spc
        (
        `uid`,
        `phone`,
        `energy_coin`,
        `invite_uid`,
        `invite_phone`,
        `type`,
        `type_name`,
        `income_type`,
        `image`,
        create_date
        )
        values
        ( #{uid},
        #{phone},
        #{energyCoin},
        #{inviteUid},
        #{invitePhone},
        #{type},
        #{typeName},
        #{incomeType},
        #{image},
        now() )
    </insert>
    <insert id="insertAll">

        insert into energy_spc
        (
        `uid`,
        `phone`,
        `energy_coin`,
        `invite_uid`,
        `invite_phone`,
        `type`,
        `type_name`,
        `income_type`,
        `image`,
        create_date
        )
        values
        <foreach collection="list" separator="," item="item">
            ( #{item.uid},
            #{item.phone},
            #{item.energyCoin},
            #{item.inviteUid},
            #{item.invitePhone},
            #{item.type},
            #{item.typeName},
            #{item.incomeType},
            #{item.image},
            #{item.createDate} )
        </foreach>
    </insert>

    <select id="selectSpcTotal" resultType="java.math.BigDecimal">
        select IFNULL(sum(energy_coin),0)  from energy_spc c
        where uid = #{uid} and create_date <![CDATA[>]]> #{date} and type = #{type}
    </select>

    <select id="queryCountRecord" resultMap="resultMap">
        select * from energy_spc
        where uid = #{uid} and create_date <![CDATA[>]]> #{date}
        <if test="type != null and type != ''">
            and type = #{type}
        </if>
    </select>

    <select id="selectEveryTotal" resultType="com.platform.entity.EnergySnapshotDO">
        SELECT type,sum(energy_coin) AS total FROM energy_spc WHERE create_date BETWEEN #{beginDate} and #{endDate} AND income_type=0 GROUP BY type
    </select>

    <select id="selectMaxId" resultType="java.lang.Long">
        select IFNULL(MAX(id),0) from energy_spc where create_date BETWEEN #{preDate} and #{endDate}
    </select>
    <select id="selectRewardCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM t_team_with_user AS tu INNER JOIN
        (SELECT uid from energy_spc
        WHERE id >#{maxId}  AND create_date
        BETWEEN #{beginDate} AND #{endDate}  and type in(11,12)
        GROUP BY uid  ) as ic
        ON tu.user_id  =ic.uid AND tu.parent_team_id >0
    </select>
    <!--当日所有运动兑换-->
    <select id="selectRewardList" resultType="com.platform.dto.IncomeCoinDTO">
        select ic.uid AS inviteUid,ic.phone AS invitePhone,ic.coin AS energyCoin,tu.parent_team_id AS  parentTeamId
        FROM t_team_with_user AS tu INNER JOIN
        (select uid,sum(energy_coin)AS coin,phone from energy_spc
        where id >#{maxId}  AND create_date
        BETWEEN #{beginDate} AND #{endDate}  and type in(11,12)
        GROUP BY uid  ) as ic
        ON tu.user_id  =ic.uid AND tu.parent_team_id>0
        ORDER BY ic.uid ASC
        limit #{start},#{size}
    </select>


    <insert id="insertList" parameterType="java.util.ArrayList" useGeneratedKeys="true" keyProperty="id">
        insert into energy_spc
        (
        `uid`,
        `phone`,
        `energy_coin`,
        `invite_uid`,
        `invite_phone`,
        `type`,
        `type_name`,
        `income_type`,
        `image`
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.uid},
            #{item.phone},
            #{item.energyCoin},
            #{item.inviteUid},
            #{item.invitePhone},
            #{item.type},
            #{item.typeName},
            #{item.incomeType},
            #{item.image}
            )
        </foreach>

    </insert>
    <select id="selectSportSpcTotal" resultType="java.math.BigDecimal">
            SELECT sum(energy_coin) AS total FROM energy_spc WHERE income_type=0 AND type IN (11,12)
    </select>
    <select id="selectTaskSpcTotal" resultType="java.math.BigDecimal">
            SELECT sum(energy_coin) AS total FROM energy_spc WHERE income_type=0 AND type IN (33,34,35,36,37)
    </select>
    <select id="selectMinerSpcTotal" resultType="java.math.BigDecimal">
            SELECT sum(energy_coin) AS total FROM energy_spc WHERE income_type=0 AND type IN (38)
    </select>
    <select id="selectShopSpcTotal" resultType="java.math.BigDecimal">
            SELECT type,sum(energy_coin) AS total FROM energy_spc WHERE income_type=0 AND type IN (10,21)
    </select>
    <select id="selectGiveOutSpcTotal" resultType="java.math.BigDecimal">
            SELECT sum(energy_coin) AS total FROM energy_spc WHERE income_type=0 AND type IN (1,5,6,10,11,12,19,20,21,33,34,35,36,37,38)
    </select>

</mapper>