<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.mapper.TextConfigMapper">

    <resultMap type="com.platform.entity.TextConfigDO" id="resultMap">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="bottom" column="bottom"/>
        <result property="type" column="type"/>
        <result property="comment" column="comment"/>
        <result property="htmlComment" column="html_comment"/>
        <result property="status" column="status"/>
        <result property="done" column="done"/>
        <result property="nodone" column="nodone"/>
        <result property="createDate" column="create_date"/>
    </resultMap>

	<select id="queryObject" resultMap="resultMap">
		select
			`id`,
			`title`,
			`content`,
			`html_comment`,
			`bottom`,
			`type`,
			`comment`,
			`status`,
			`done`,
    		`nodone`,
			`create_date`
		from text_config
		where id = #{id}
	</select>

	<select id="queryList" resultMap="resultMap">
		select
    		`id`,
    		`title`,
    		`content`,
    		`bottom`,
    		`type`,
    		`comment`,
    		`html_comment`,
    		`status`,
    		`done`,
    		`nodone`,
    		`create_date`
		from text_config
		WHERE 1=1
		<if test="name != null and name.trim() != ''">
			AND name LIKE concat('%',#{name},'%')
		</if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from text_config
		WHERE 1=1
        <if test="name != null and name.trim() != ''">
            AND name LIKE concat('%',#{name},'%')
        </if>
	</select>


</mapper>